/* .Header img{
  height: 80px;
  display: grid;
  align-items: center;
}
.Header nav{
  background-color: black;
  line-height: 40px;
  font-size: 20px;
}
.Header nav a {
  text-decoration: none;
  color: #fff;
  margin-left: 20px;
  padding: 5px;
}
nav a:hover{
  background-color: gray;
} */
.headers img{
  height: 80px;
}
.headers{
  text-align: center;
}
nav{
  background: black;
  color: white;
  display: flex;
  padding: 20px;

}
nav a {
  text-decoration: none;
  color: #fff;
  margin: 5px;
  margin-left: 20px;
  font-size: 20px;
  font-weight: 600;
}

nav a:hover{
  color: rgb(245, 227, 227);
}
