.product{
  display: flex;
  margin-right: 7px;
  margin-bottom: 7px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}
.product-name h1{
  color: blue;
  font-weight: 400;
}
.btn-button{
  background-color: goldenrod;
  width:  150px;
  height: 30px;
  border: 1px solid darkgray;
  border-radius: 5px;
  cursor: pointer;
}